<div class="container">
  <h2>Buscar Melhor Rota</h2>
  <div class="form-group">
    <label for="origem">Origem:</label>
    <input type="text" class="form-control" id="origem" [(ngModel)]="origem">
  </div>
  <div class="form-group">
    <label for="destino">Destino:</label>
    <input type="text" class="form-control" id="destino" [(ngModel)]="destino">
  </div>
  <button class="btn btn-primary" (click)="buscarMelhorRota()">Buscar</button>
</div>

<div class="container mt-3">
  <h2>Melhor Rota</h2>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let rota of rotas">
      {{ rota.origem }} - {{ rota.destino }} (Valor: {{ rota.valor }})
    </li>
  </ul>
</div>
